/ChangeDetection_MSCCANet_TGRS2024-main/.idea/
/ChangeDetection_MSCCANet_TGRS2024-main/.vscode/
/ChangeDetection_MSCCANet_TGRS2024-main/BCDD/
/ChangeDetection_MSCCANet_TGRS2024-main/lilBCDD/
/ChangeDetection_MSCCANet_TGRS2024-main/chart/
/ChangeDetection_MSCCANet_TGRS2024-main/log/
/ChangeDetection_MSCCANet_TGRS2024-main/models/__pycache__/
/ChangeDetection_MSCCANet_TGRS2024-main/output_img/
/ChangeDetection_MSCCANet_TGRS2024-main/utils/__pycache__/
/ChangeDetection_MSCCANet_TGRS2024-main/tmp/
!/ChangeDetection_MSCCANet_TGRS2024-main/tmp/best_test_checkpoint_epoch_54.pt
!/ChangeDetection_MSCCANet_TGRS2024-main/tmp/best_val_checkpoint_epoch_54.pt
!/ChangeDetection_MSCCANet_TGRS2024-main/tmp/metadata_best_test_checkpoint_epoch_54.json
!/ChangeDetection_MSCCANet_TGRS2024-main/tmp/metadata_best_val_checkpoint_epoch_54.json
/ChangeDetection_MSCCANet_TGRS2024-main/metrics.txt
/STFMamba/__pycache__/
/STFMamba/.vscode/
/STFMamba/datasets/__pycache__/
/STFMamba/datasets/wh/
/STFMamba/datasets_npy/
/STFMamba/datasets_training/
/STFMamba/experiment_model_pth/
/STFMamba/models_mamba/__pycache__/
/STFMamba/models_mamba/model_VSS/__pycache__/